.video-wrapper {
  margin-top: 120px;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-bottom: 20vw;
}

.video-header {
  position: absolute;
  top: -60px;
  left: 2vw;
  color: #92bb65;
  font-size: 27px;
}

.carousel-complete {
  width: 90vw;
}

.video-container {
  top: 0;
  height: 120%;
  outline: none;
}

.video {
  outline: 0;
  height: 100%;
  width: 90%;
}

.carousel__slide-focus-ring {
  outline: 0;
}

.c-video {
  height: 100%;
}

/* ==== Carousel Forward and Back Buttons ==== */
.btn {
  background-color: transparent;
  outline: none;
  border: none;
  transform: translateY(-50%);
  z-index: 100;
}

.video-back-btn {
  top: 50%;
  left: -20px;
}

.video-forward-btn {
  top: 50%;
  right: -20px;
}

.back-arrow,
.forward-arrow {
  height: 30px;
  width: 17px;
}

@media only screen and (max-width: 1245px) {
  .carousel-complete {
    width: 900px;
  }

  .video {
    width: 90%;
    height: 244px;
  }

  .video-back-btn,
  .video-forward-btn {
    top: 45%;
  }
}

@media only screen and (max-width: 1020px) {
  .carousel-complete {
    width: 88.24%;
  }

  .video-back-btn,
  .video-forward-btn {
    top: 45%;
  }
}

@media only screen and (max-width: 830px) {
  .carousel-complete {
    width: 60%;
  }
}
