.video-wrapper {
  margin-top: 120px;
  width: 100vw;
  /* height: 200px; */
  display: flex;
  justify-content: center;
  margin-bottom: 20vw;
}

.video-header {
  position: absolute;
  top: -40px;
  left: 2vw;
  color: #92bb65;
  font-size: 27px;
}

.carousel-complete {
  width: 90vw;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.video-container {
  padding-top: 44px;
  height: 120%;
}

.video {
  outline: 0;
  height: 100%;
  width: 89.5%;
}

.carousel__slide-focus-ring {
  outline: 0;
}

.c-video {
  height: 100%;
}

/* ==== Carousel Forward and Back Buttons ==== */
.btn {
  background-color: transparent;
  outline: none;
  border: none;
  transform: translateY(-50%);
  z-index: 100;
}

.video-back-btn {
  top: 10vw;
  left: -20px;
}

.video-forward-btn {
  top: 10vw;
  right: -20px;
}

.back-arrow,
.forward-arrow {
  height: 30px;
  width: 17px;
}

@media only screen and (max-width: 1245px) {
  .carousel-complete {
    width: 900px;
  }

  .video {
    width: 90%;
    height: 244px;
  }

  .video-back-btn,
  .video-forward-btn {
    top: 13.5vw;
  }
}

@media only screen and (max-width: 1020px) {
  .carousel-complete {
    width: 88.24%;
  }

  .video-back-btn,
  .video-forward-btn {
    /* top: 17.5vw; */
    top: 22vh;
  }
}

@media only screen and (max-width: 830px) {
  .carousel-complete {
    width: 60%;
  }
}
